{% extends 'guest/base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block main %}
<div class="error-container">
    <h1>Page non trouvée (Erreur 404)</h1>
    <p>La page que vous cherchez n'existe pas.</p>
    <a href="{{ path('home') }}">Retour à l'accueil</a>
</div>
{% endblock %}