{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	WhereIsFlorie | apropos
{% endblock metatitle %}



{% block main %}
 
	<div class="aboutme">
        <h1>Mon histoire </h1>
        <p>WhereIsFlorie est une plateforme web et mobile dédiée aux voyageurs souhaitant documenter, 
            partager et revivre leurs aventures. L’application suit automatiquement vos déplacements 
            grâce à la géolocalisation, même hors ligne, en créant un journal de voyage composé d’étapes 
            enrichies de lieux, dates, textes et photos. Chaque itinéraire est affiché sur une carte interactive 
            du monde, offrant une visualisation claire de votre parcours. Les voyages peuvent être privés ou partagés
             facilement via un lien, et l’un des atouts majeurs de Polarsteps est la possibilité de transformer 
             automatiquement ses récits en un livre photo imprimé. L’interface, épurée et centrée sur la carte et les visuels, permet une navigation fluide. Bien que l’aspect communautaire reste discret, les utilisateurs peuvent suivre d’autres voyageurs ou explorer des récits publics. Enfin, la plateforme met un point d’honneur à la confidentialité et à la sécurité des données, sans publicité intrusive.</p>
</div>
{% endblock main %}


