{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	WhereIsFlorie | apropos
{% endblock metatitle %}



{% block main %}

    <div class="aboutme-photo">
        <img src="{{ asset('assets/img/daniel-jensen-tQpypKA92k8-unsplash.jpg') }}" alt="Photo de Florie">
    </div>
 
	<div class="aboutme">
        <h1>Mon histoire </h1>
        <p>Bonjour, je m'appelle Florie, j'ai 34 ans et j'ai travaillé pendant plusieurs années dans le tourisme international. Cette expérience m’a permis de voyager à travers le monde et de découvrir une quarantaine de pays.
J’ai créé WhereIsFlorie tout simplement pour partager mes aventures, mes découvertes et les moments forts de mes voyages.</p>
        <p>WhereIsFlorie est une plateforme web et mobile dédiée aux voyageurs souhaitant documenter, 
            partager et revivre leurs aventures. Ce site vous permet  de créer un journal de voyage composé d’étapes 
            enrichies de lieux, dates, textes et photos. Vous pouvez également consulter les experiences de l'ensemble des utilisateurs, et ainsi pouvoir transmettre et partager les meilleurs conseils. 
            Les voyages peuvent être privés ou partagés facilement via votre inscription, vous pourrez ainsi, stocker modifier vos meilleurs souvenirs,sans publicité intrusive.</p>
</div>
{% endblock main %}


