{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	WhereIsFlorie | Connexion
{% endblock metatitle %}

{% block main %}
<div class="login-hero">
  <div class="login-form-container">
    <h1>Se connecter à WhereIsFlorie</h1>
    <form class="login-form">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Se connecter</button>
      <button type="submit">Créer un compte</button>
    </form>
  </div>
</div>
	
{% endblock main %}