{% extends 'guest/base.html.twig' %}

{% block title %}Mes Voyages{% endblock %}

{% block body %}
<section class="destinations-section">
    <h2>Mes Voyages</h2>

 {% for destination in destinations %}
    <div class="destination">
       
        <div class="destination-text">
            <h3>{{ destination.title }}</h3>
            <p>{{ destination.description }}</p>
            <a href="{{ path('destination_' ~ destination.slug) }}">Voir cette destination</a>

        </div>
    </div>
{% endfor %}

</section>

{% endblock %}
