{% extends 'guest/base.html.twig' %}

{% block title %}Mes Voyages{% endblock %}

{% block body %}
<section class="destinations-section">
    <h2>Mes Voyages</h2>

    {% for destination in destinations %}
        <div class="destination">
            <img src="{{ asset(destination.image) }}" alt="{{ destination.title }}">
            <div class="destination-text">
                <h3>{{ destination.title }}</h3>
                <p>{{ destination.description }}</p>
            </div>
        </div>
    {% endfor %}
</section>

{% endblock %}
