<!-- SECTION 1 : HERO -->
<header class="hero">
  <div class="navbar" id="mainNavbar">
    <div class="logo">
      <img src="{{ asset('assets/img/logo-arbre.png') }}" alt="Logo Arbre du Voyageur">
      <span>WhereIsFlorie</span>
    </div>

    <div class="menu">
      <a href="{{ path('home') }}">Accueil</a>
      <a href="#">Voyage</a>
      <a href="#">Qui suis-je</a>
      <a href="{{ path('login') }}">Inscription</a>
    </div>
  </div>
</header>
