{% extends 'guest/base.html.twig' %}

{% block title %}Faro{% endblock %}

{% block body %}
<div class="destination-page">
    <h1>Bienvenue à Faro</h1>
    <img src="{{ asset('assets/img/faro.jpg') }}" alt="A">
    <p>Faro est une ville du sud du Portugal, capitale de la région de l'Algarve. Elle est connue pour sa vieille ville entourée de remparts, ses rues pavées et sa cathédrale du XIIIe siècle. Située près d'une lagune, elle offre un accès à la réserve naturelle de Ria Formosa, riche en faune et flore. Faro combine charme historique, ambiance paisible et proximité de belles plages. C’est une destination idéale pour découvrir l’authenticité portugaise loin des foules.</p>
</div>
{% endblock %}