{% extends 'guest/base.html.twig' %}

{% block title %}Fuerteventura{% endblock %}

{% block body %}
<div class="destination-page">
    <h1>Bienvenue à Fuerteventura</h1>
    <img src="{{ asset('assets/img/fuerteventura.jpg') }}" alt="Photo 6">
    <p>Fuerteventura est l’une des îles Canaries, située au large des côtes africaines, connue pour ses plages immenses et son climat ensoleillé toute l’année. L’île séduit par ses paysages désertiques, ses dunes, et ses eaux turquoise idéales pour le surf, le kitesurf et la planche à voile. Moins touristique que ses voisines, elle offre calme et dépaysement. Les villages traditionnels et les spécialités locales ajoutent une touche authentique au séjour. Fuerteventura est un havre de nature, parfait pour les amoureux de grands espaces.</p>
</div>
{% endblock %}