{% extends 'guest/base.html.twig' %}

{% block title %}Martinique{% endblock %}

{% block body %}
<div class="destination-page">
    <h1>Bienvenue en Martinique</h1>
    <img src="{{ asset('assets/img/martinique.jpg') }}" alt="martinique">
    <p>La Martinique est une île française située dans les Caraïbes, connue pour ses plages paradisiaques, ses montagnes verdoyantes et sa culture créole vibrante. Elle fait partie des Petites Antilles et est dominée par la majestueuse montagne Pelée, un volcan actif. Son climat tropical favorise une nature luxuriante et une biodiversité riche. L'île mêle influences françaises et antillaises dans sa cuisine, sa musique et son architecture. La Martinique attire les voyageurs en quête de détente, d'aventure et de découvertes culturelles..</p>
</div>
{% endblock %}