{% extends 'guest/base.html.twig' %}

{% block title %}Maurice{% endblock %}

{% block body %}
<div class="destination-page">
    <h1>Bienvenue à l'ile Maurice</h1>
    <img src="{{ asset('assets/img/maurice.jpg') }}" alt="ile Maurice">
    <p>L’île Maurice est un petit paradis situé dans l’océan Indien, à l’est de Madagascar. Elle est réputée pour ses plages de sable blanc, ses lagons turquoise et ses récifs coralliens. Le pays possède une culture riche et métissée, influencée par les traditions indiennes, africaines, européennes et chinoises. Son intérieur montagneux offre des paysages verdoyants et des randonnées spectaculaires. L’île Maurice séduit par son accueil chaleureux, sa gastronomie variée et sa douceur de vivre.</p>
</div>
{% endblock %}