{% extends 'guest/base.html.twig' %}

{% block title %}Rome{% endblock %}

{% block body %}
<div class="destination-page">
    <h1>Bienvenue à Rome</h1>
    <img src="{{ asset('assets/img/rome.jpg') }}" alt="rome">
    <p>Rome, capitale de l’Italie, est une ville emblématique au riche passé historique et culturel. Elle abrite des monuments célèbres comme le Colisée, le Panthéon et la basilique Saint-Pierre. Surnommée la "Ville éternelle", elle mêle vestiges antiques, art Renaissance et vie urbaine animée. Ses ruelles pavées, ses places charmantes et sa gastronomie en font une destination incontournable. À Rome, chaque coin de rue raconte une histoire vieille de plusieurs siècles.</p>
</div>
{% endblock %}