{% extends 'guest/base.html.twig' %}

{% block title %}Tokyo{% endblock %}

{% block body %}
<div class="destination-page">
    <h1>Bienvenue à Tokyo</h1>
    <img src="{{ asset('assets/img/tokyo.jpg') }}" alt="Photo 5">
    <p>Tokyo, capitale du Japon, est une ville dynamique où modernité et tradition cohabitent harmonieusement. Elle est célèbre pour ses gratte-ciels, ses néons lumineux, ses quartiers animés comme Akihabara et ses temples paisibles. Tokyo est aussi un centre mondial de la technologie, de la mode et de la gastronomie. La ville offre une grande diversité d’expériences, allant des sushis frais aux jardins zen. Elle fascine par son énergie, son organisation et sa culture unique.</p>
</div>
{% endblock %}